:root {
    --primary-color: #003049;
    --secondary-color: #d62828;
    --accent-color: #fcbf49;
    --background-color: #ddd;
    --background-color2: #eee;
    --text-color: #fff;
}

body {
    font-family: Inter Tight, sans-serif;
    font-size: 15px;
    color: var(--primary-color)
}

h1 {
    margin-left: 10px;
}

section {
    margin: 1rem 10px;
    padding: 1rem;
}

/* NAVIGATION */
header {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

header img {
    width: 24px;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--text-color);
}

.nav {
    display: grid;
    grid-template-columns: 24px auto 33px;
    column-gap: 8px;
    min-height: 40px;
    align-items: center;
    margin-bottom: .5rem;
}

.hamburger {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.hamburger::after {
    content: "\2630";
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}

.navigation {
    display: none;
    width: 100%;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    background-color: var(--primary-color);
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    text-decoration: none;
    color: var(--text-color);
}

.navigation.show {
    display: block;
}

.navigation li.current {
    font-weight: bold;
}

.navigation a:hover {
    color: var(--accent-color);
}

/* CARDS */
.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}

.menu button {
    border-style: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 0 2px;
}

.menu button:hover {
    background-color: var(--background-color);
}

#cards section {
    background-color: var(--background-color2);
    text-align: center;
}

#cards a {
    color: var(--primary-color);
    font-weight: 500;
}

#cards a:hover {
    color: var(--accent-color);
}

.grid {
    #cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }

    section {
        text-align: center;
        border-radius: 15px;
    }

    p {
        margin: .5rem 0;
    }
}

.list {
    display: flex;
    flex-direction: column;

    section {
        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr);
        margin: 0;
        text-align: left;
        align-items: center;

        img {
            display: none;
        }

        h2 {
            font-size: 1rem;
        }

        &:nth-child(even) {
            background-color: var(--background-color);
        }
    }
}

/* HOME */
.hero {
    position: relative;
    padding: 0;
    margin: 0;
}

.hero img {
    max-width: 100%;
}

#join {
    position: absolute;
    top: 55%;
    left: 10%;
    border-style: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 0 2px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

#join:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.info-cards {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    column-gap: 10px;

    h2 {
        background-color: var(--primary-color);
        color: var(--text-color);
        padding: 10px;
        margin: 0;
        border-radius: 15px 15px 0 0;
    }

    div {
        background-color: var(--background-color);
        min-height: 300px;
        border-radius: 15px;
    }
}

/* FOOTER */
footer {
    display: block;
    background-color: var(--primary-color);
    padding: 1rem 10px;
    font-size: small;
    text-align: left;
    color: var(--text-color);
}

footer p {
    margin: .5rem 0;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 3px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

.social img {
    width: 23px;
    height: 23px;
}

.social a:hover {
    background-color: #001d2d;
}