:root {
    --primary: #D9A441;
    --secondary: #F2F2F2;
    --accent: #3B246B;
    --grey: #E0E0E0;
    --grey2: #595959;
    --text: #FFFFFF;
    --text2: #1A1A1A;
}

body {
    font-family: Inter Tight, sans-serif;
    background-color: var(--secondary);
    color: var(--text2);
}

h1 {
    margin-left: 10px;
}

section {
    margin: 1rem 10px;
    padding: 1rem;
}

a {
    text-decoration: none;
}

button {
    border-style: none;
    cursor: pointer;
}

/* NAVIGATION */
header {
    background-color: var(--text);
    font-weight: 500;
    font-size: large;
    box-shadow: var(--grey) 0 0 10px;
    padding: 5px;

    a {
        display: flex;
        align-items: end;
        color: var(--accent);
    }

    img {
        margin-right: 5px;
    }
}

#think {
    color: var(--primary);
}

.hamburger {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--accent);
}

.hamburger::after {
    content: "\2630";
}

.hamburger.show::after {
    content: "\00D7";
}

.nav {
    display: grid;
    grid-template-columns: 33px 24px auto;
    column-gap: 8px;
    min-height: 50px;
    align-items: center;
}

.navigation {
    display: none;
    width: 100%;
    border-top: 2px solid var(--grey);

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    a {
        display: block;
        padding: 10px 10px;
        color: var(--accent);
        font-size: 1rem;
    }

    a:hover {
        color: var(--primary);
    }

    li.current {
        font-weight: bold;
    }
}

.navigation.show {
    display: block;
}

/* HOME */
.hero {
    flex-wrap: nowrap;
    text-align: center;

    img {
        width: 400px;
        height: auto;
        margin-top: 1rem;
        object-fit: contain;
    }
}

#browse {
    background-color: var(--accent);
    color: var(--text);
    border-radius: 8px;
    padding: 10px 15px;
    margin: 1rem;
    font-weight: 500;

    a {
        color: var(--text);
    }
}

.featured {
    background-color: var(--text);
    margin: 0 auto;
}

/* WORKSHOPS */
.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 2rem;
    align-items: center;

    button {
        background-color: var(--secondary);
        background: none;
        padding: 10px 20px;
        border: 2px solid var(--grey);
        border-radius: 5px;
        max-height: 44px;
    }

    .active {
        background-color: var(--text);
        border: 2px solid var(--text);
    }
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 290px);

    div {
        background-color: var(--text);
        margin: 1rem;
    }

    div:hover {
        box-shadow: 0 0 8px var(--grey2);
        cursor: pointer;
    }

    img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    h2,
    p {
        margin: 10px 0;
        padding: 0 2rem;
    }

    h2 {
        padding-top: .5rem;
    }

    #instructor {
        font-style: italic;
        color: var(--grey2);
    }

    #sessions::before {
        content: "📅 ";
    }

    #session-duration::before {
        content: "🕑 ";
    }

    #price {
        font-size: 1.2rem;
        font-weight: bold;
        padding-bottom: 1rem;
    }
}

/* DIALOG */
dialog {
    padding: 0;
    background-color: var(--secondary);
    border: none;
    max-width: 600px;
    box-shadow: var(--grey2) 0 0 10px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 50%)
}

.dialog1 {
    margin: 0;
    background-color: var(--text);
    box-shadow: var(--grey) 0 0 10px;
    display: grid;
    grid-template-columns: auto 44px;
    padding: 0 1rem;

    button {
        border: none;
        background: none;
        color: var(--text2);
        font-size: 2rem;
        cursor: pointer;
    }
}

.dialog2 {
    margin: 0;
    padding: 1rem 2rem;

    h3 {
        border-bottom: 2px solid var(--grey);
    }

    .dialog-schedule {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10px;

        .dialog-label {
            font-weight: 600;
        }

        p {
            margin: .3rem 0;
            border: 2px solid var(--grey);
            padding: 5px 10px;
        }
    }
}

/* SIGN UP FORM */
#form-title {
    text-align: center;
}

#confirm-text {
    color: var(--grey2);
    font-size: 1rem;
    font-weight: 400;
}

form {
    background-color: var(--text);
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 380px;
    padding: 2rem 1rem;
    border-radius: 15px;
    box-shadow: 0 0 8px var(--grey);

    fieldset {
        border: none;
        padding: .6rem 0;
        margin: 1rem;

    }

    legend {
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: .5rem;
        padding-bottom: .1rem;
        border-bottom: 2px solid var(--grey);
    }

    label {
        display: block;
        padding: .4rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"] {
        display: block;
        margin-top: 0.4rem;
        width: 100%;
        min-height: 30px;
        padding: 0 5px;
    }

    input[type="checkbox"] {
        transform: scale(1.2);
        transform-origin: center;
        margin-right: 5px;
    }

    input[type="submit"] {
        display: block;
        margin: 1rem auto;
        width: 100px;
        border: none;
        background-color: var(--accent);
        color: #fff;
        border-radius: 6px;
        padding: 1rem;
        font-size: 1rem;
    }

    input[type="submit"]:hover {
        background-color: var(--primary);
        cursor: pointer;
    }

    .required {
        color: red;
    }
}

#results {
    background-color: var(--text);
    padding: 2rem;
    max-width: 380px;
    margin: 2rem auto;
    border-radius: 15px;
    box-shadow: 0 0 8px var(--grey);
}

/* FOOTER */
footer {
    display: block;
    background-color: var(--accent);
    padding: 20px 10px;
    font-size: small;
    color: var(--text);

    p {
        margin: 0px;
    }
}

.footer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    img {
        margin-right: 5px;
    }
}